.customer-center-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
}

.customer-center-details__avatar {
  margin: auto auto 16px;
}

.customer-center-details__name {
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.customer-center-details__description {
  font-size: 12px;
  line-height: 20px;
}