.people-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
}

.people-details__avatar {
  margin: auto auto 16px;
}

.people-details__name {
  font-weight: bold;
  text-align: center;
  margin-bottom: 18px;
}

.people-details__description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
}