.people {
  display: grid;
  grid-template-columns: 1fr 2.6fr;
  grid-gap: 24px;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

.people__right {
  grid-row: 1/-1;
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 24px;

  @include media-breakpoint-down(md) {
    grid-row: 2;
  }
}

.p-people-nav {
  display: flex;
  margin-bottom: 16px;
}

.p-people__rating {
  display: flex;
  margin-right: 15px;

  .rating__value {
    font-size: 14px;
  }
}

.p-people__rating-label {
  margin-right: 7px;
}

.p-people__views {
  margin-right: auto;
}

.p-people-nav__link + .p-people-nav__link {
  margin-left: 16px;
}

.people__package-list {
  display: grid;
  grid-gap: 16px;
}

.people__components-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;

  @include media-breakpoint-down(md){
    grid-template-columns: 1fr;
  }
}