.btn {
  display: inline-block;
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  border-radius: 100px;
  outline: none !important;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform .1s ease-in;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.04em;
  padding: 14px 80px;

  &:hover {
    text-decoration: none;
    transform: scale(1.1);
  }

  &.btn_primary {
    background: linear-gradient(180deg, lighten($primary, 5%) 0%, $primary 100%);
    color: white;

  }

  &.btn_dark {
    background: linear-gradient(180deg, lighten($dark, 5%) 0%, $dark 100%);
    color: white;
  }

  &.btn_link {
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
  }

  &.btn_sm {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 25px;
  }

  &.btn_xs {
    font-size: 10px;
    line-height: 14px;
    padding: 8px 10px;
    border-radius: 8px;
  }

  &.btn_form-mb {
    margin-bottom: 16px;
  }
}

.float-btn {
  background: $primary;
  color: white;
  width: 56px;
  height: 56px;
  transition: transform .1s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  font-size: 24px;

  &:hover {
    transform: scale(1.1);
    color: white;
  }
}

.nav-btn {
  color: $secondary;
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;

  &:hover {
    opacity: 0.6;
  }
}

.nav-btn_active {
  color: $primary;
  cursor: auto;
}