.input {
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  position: relative;
  text-align: left;

  &.input_form-mb {
    margin-bottom: 16px;
  }

  label {
    align-items: center;
    margin: 0;
    position: absolute;
    transition: all .1s ease-in;
    letter-spacing: 0.4px;
    color: $gray;
    pointer-events: none;
    padding-top: 17px;
    padding-left: 26px;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    border-radius: 10px;
  }

  input, textarea, select {
    width: 100%;
    color: $dark;
    background: #F2F4F7;
    border-radius: 10px;
    padding: 16px 25px;
    box-sizing: border-box;
    outline: none !important;
    border: 1px solid transparent;
    letter-spacing: 0.8px;

    &:focus {
      border: 1px solid $primary;
    }

    &[type=time], &[type=date], &:focus, &.filled {
      padding-bottom: 8px;
      padding-top: 24px;

      & + label {
        color: $primary;
        font-size: 10px;
        padding-top: 12px;
      }
    }
  }

  textarea {
    display: block;
    resize: none;
    @include scroll-textarea;

    & + label {
      width: calc(100% - 20px);
      background: linear-gradient(to bottom, #f2f4f7 25px, transparent 0);
    }
  }

  select {
    -webkit-appearance: none;

    & + label:before {
      content: '\eb3a';
      font-family: unicons;
      font-style: normal;
      font-weight: 400;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: .2em;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      right: 13px;
      top: 16px;
      font-size: 16px;
      transition: transform .1s ease-in;
    }

    &:focus + label:before {
      transform: rotate(180deg);
    }

    &:focus, &.filled {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  input[type=date] {
    &::-webkit-inner-spin-button, {
      display: none;
      -webkit-appearance: none;
    }
  }

  &.input_icon {
    input {
      padding-left: 50px;
    }

    label {
      left: 25px;
    }
  }

  .input__icon {
    position: absolute;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    top: 15px;
    left: 15px;
  }
}

.checkbox {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 14px;
  min-height: 20px;

  label {
    cursor: pointer;
    align-items: flex-start;
    margin-bottom: 0;
    position: relative;
  }

  input:disabled + label {
    opacity: 0.5;
  }

  input[type=checkbox] {
    opacity: 0;
    position: absolute;

    & ~ label {
      color: $gray;

      &::before, &::after {
        content: "";
        width: 16px;
        height: 16px;
        transition: all 0.1s ease-in;
        border-radius: 5px;
        display: inline-block;
        vertical-align: top;
        margin-top: -2px;
      }

      &::before {
        flex-shrink: 0;
        background: none;
        border: 1.5px solid $primary;
        margin-right: 7px;
      }

      &:after {
        transform: translateY(-10px);
        position: absolute;
        left: 0;
        opacity: 0;
        pointer-events: none;
        background: url(/images/icons/check.svg) no-repeat center;
      }
    }

    &:active ~ label {
      &:before {
        transform: scale(1.3);
      }
    }

    &:checked ~ label {
      &::before {
        background: $primary;
      }

      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &.checkbox_vertical {
    label {
      padding-left: 0 !important;
      padding-top: 30px;
      min-width: 20px;

      &:before {
        bottom: auto !important;
      }
    }
  }

  &.checkbox_form-mb {
    margin-bottom: 16px;
  }

  &.checkbox_flex {
    label {
      display: flex;
      align-items: center;
    }
  }
}

.switch {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 16px;
  min-height: 25px;

  label {
    display: flex;
    cursor: pointer;
    margin-bottom: 0;
    color: inherit;
  }

  input:disabled + label {
    opacity: 0.5;
  }

  input[type=checkbox] {
    opacity: 0;
    position: absolute;

    & ~ label {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
      width: 100%;


      &:hover:before {
        box-shadow: 0 0 10px #00000047;
      }

      &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $primary;
        right: 25px;
        transition: transform 0.1s ease-in;
      }

      &::after {
        content: "";
        width: 50px;
        height: 10px;
        flex-shrink: 0;
        border-radius: 5px;
        background: $dark;
        border: 1px solid #6580e22b;
        transition: background 0.1s ease-in;
      }
    }

    &:checked {
      & ~ label::before {
        transform: translateX(30px);
      }

      & ~ label::after {
        background: $light;
      }
    }

  }
}

.radio {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 16px;

  label {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0;
  }

  input:disabled + label {
    opacity: 0.5;
  }

  input[type=radio] {
    opacity: 0;
    position: absolute;

    & ~ label {
      &::before {
        content: "";
        width: 17px;
        height: 17px;
        flex-shrink: 0;
        background: #f8f9fa;
        border: 2px solid rgba(130, 46, 198, 0.3);
        border-radius: 50%;
        transition: all 0.1s ease-in;
        margin-right: 5px;
      }

    }

    &:checked ~ label::before {
      border-color: $secondary;
    }

    &:checked ~ label::after {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #6580e2;
      position: absolute;
      left: 6px;
      top: 6px;
      margin: auto;
      z-index: 3;
    }

    &:active ~ label::before {
      transform: scale(1.1);
    }
  }
}
