.list_unstyled {
    @include list-unstyled;
}

.list_spaced-7 {
    li + li {
        margin-top: 7px;
    }
}

.list_spaced-15 {
    li + li {
        margin-top: 15px;
    }
}

.list_spaced-30 {
    li + li {
        margin-top: 30px;
    }
}
