.tabs {
  display: flex;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;

  .tabs__item {
    border: none;
    position: relative;
    margin: 0 16px;
    color: $dark;

    &.tabs__item_active {
      color: $primary;

      &:before {
        content: "";
        background: $primary;
        height: 1px;
        width: 100%;
        bottom: -2px;
        border-radius: 10px;
        position: absolute;
      }
    }
  }
}