@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');

body {
  font: $base-font;
  font-weight: 400;
  letter-spacing: 0.02em;
}

@each $level in (1, 2, 3, 4, 5) {
  .h#{$level}, h#{$level} {
    @include make-header($level);
  }
}

a {
  color: $primary;

  &:hover {
    color: darken($primary, 10%);
    text-decoration: none;
  }
}

[role=button] {
  cursor: pointer;
}

.text-primary {
  color: $primary;
}

.text-danger {
  color: $danger;
}

.text-success {
  color: $success;
}

.text-secondary {
  color: $secondary;
}

.text-center {
  text-align: center;
}

small, .small {
  line-height: 1.1;
  font-size: 80%;
}

p {
  margin-bottom: 0;

  & + & {
    margin-top: 15px;
  }
}
