$primary: rgba(#2F80ED, 1);
$secondary: rgba(#94A1BB, 1);
$success: rgba(#219653, 1);
$danger: rgba(#EB5757, 1);
$dark: rgba(#4F4F4F, 1);
$light: rgba(#FFFFFF, 1);
$gray: rgba(#6C757D, 1);

$primary-gradient: linear-gradient(170.66deg, #86A8E7 0.66%, #0086FF 59.41%), #FFFFFF;

$base-font-family: Nunito, sans-serif;
$header-font-family: Nunito, sans-serif;

$base-font: 14px/20px $base-font-family;

$h1-font: 800 64px/100% $header-font-family;
$h1-font-sm: 800 36px/130% $header-font-family;

$h2-font: 800 48px/100% $header-font-family;
$h2-font-sm: 800 32px/130% $header-font-family;

$h3-font: 800 28px/100% $header-font-family;
$h3-font-sm: 800 24px/130% $header-font-family;

$h4-font: 400 24px/130% $header-font-family;
$h4-font-sm: 400 18px/130% $header-font-family;

$h5-font: 800 20px/130% $header-font-family;
$h5-font-sm: 800 18px/130% $header-font-family;

$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-row-columns: 6;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

@import "./mixins/mixins";
