.supplier {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 24px;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

.supplier__products {
  grid-row: 1/-1;

  @include media-breakpoint-down(lg) {
    grid-row: 2;
  }
}