.component {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 24px;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

.component__right {
  display: grid;
  grid-gap: 24px;
  grid-row: 1/-1;
  grid-auto-rows: min-content;

  @include media-breakpoint-down(lg) {
    grid-row: 2;
  }
}

.component__package {
  //grid-row: 1/-1;

  @include media-breakpoint-down(lg) {
    grid-row: 2;
  }
}

.component__components {
  //grid-row: 1/-1;

  @include media-breakpoint-down(lg) {
    grid-row: 2;
  }
}