.product-details__body {
  display: flex;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.product-details__avatar {
  margin-right: 24px;

  @include media-breakpoint-down(md) {
    margin: auto auto 16px;
  }
}

.product-details__inputs {
  width: 100%;
}

.product-details__contact-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}