.components {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr 1fr !important;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr !important;;
  }

  &.alt-layout {
    grid-template-columns: 1fr;
  }
}

.components_page {
  grid-template-columns: repeat(3, 1fr);
}
