$sizes: 24, 32, 56, 64, 72, 80, 152;


.avatar {
  position: relative;
  flex-shrink: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  line-height: 16px;
  display: inline-block;
}

.avatar__img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

@each $size in $sizes {
  .avatar_#{$size} {
    width: #{$size}px;

    .avatar__img {
      width: #{$size}px;
      height: #{$size}px;
    }

    .avatar__label {
      margin-top: 8px;
    }
  }
}

[class *= 'avatar_badge'] {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $primary;
    border: 3px solid white;
  }
}

.avatar_badge-success:before {
  background: $success;
}

.avatar_badge-danger:before {
  background: $danger;
}

.avatar_badge-secondary:before {
  background: $secondary;
}