@import "../variables";

.breadcrumbs {
  display: flex;
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
  overflow: auto;
  font-size: 12px;

  @include media-breakpoint-down(md) {
    padding-top: 15px;
  }

  > li {
    color: $dark;
    text-decoration: none;

    a {
      color: $primary;

      &:hover {
        color: $primary;
        text-decoration: none;
      }

      &:after {
        content: '\eb6d';
        font-family: unicons;
        font-style: normal;
        font-weight: 400;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: .2em;
        color: #94A1BB;
      }
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      border-right: none;
    }
  }

  .breadcrumbs__back {
    margin-left: auto;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    a:after {
      content: none;
    }
  }
}
