.card {
  @include card;
}

.card__header {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.card__title {
  @include card-title;
  margin-right: auto;
}

.card__nav {
  position: absolute;
  top: 15px;
  right: 15px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;

  [data-target]:hover {
    color: $primary;
  }
}