.component-card {
  padding: 16px;

  .component-card__name {
    color: $dark;
    font-weight: bold;
    letter-spacing: 0.04em;
    display: inline-block;

    &:hover {
      color: $primary;
    }
  }

  .component-card__avatar {
    margin-right: 16px;
  }

  .component-card__file-count {
    color: $gray;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .component-card__description {
    color: $gray;
    font-size: 12px;
    margin-top: 16px;
  }
}

.component-card_avatar {
  display: flex;
}