.customer-center-card {
  display: flex;
  padding: 16px 32px 16px 16px;


  .customer-center-card__avatar {
    margin-right: 16px;
  }

  .customer-center-card__name {
    color: #434A56;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    display: block;

    &:hover {
      color: $primary;
    }
  }

  .customer-center-card__views {
    font-size: 12px;
    color: $gray;
  }

  .customer-center-card__rating {
    margin-bottom: 16px;
  }
}