.data-sharing-card {
  .data-sharing-card__name {
    color: $dark;
    font-weight: bold;
    letter-spacing: 0.04em;
    display: inline-block;

    &:hover {
      color: $primary;
    }
  }

  .data-sharing-card__name_success {
    color: $success;

    &:before {
      content: '\e9c2';
      font-family: unicons;
      font-style: normal;
      font-weight: 400;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      -webkit-font-smoothing: antialiased;
      margin: 0 -0.2em;
      margin-right: 3px;
    }
  }

  .data-sharing-card__description {
    color: $gray;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 16px;
  }

  .data-sharing-card__items {
    @include list-unstyled;
    display: grid;
    grid-gap: 8px;
  }

  .data-sharing-card__item {
    font-size: 12px;
    color: $gray;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
  }
}
