.data-sharing-modal__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 24px;

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(3, 1fr);
  }
}