.document-card {
  display: flex;

  .document-card__body {
    width: 100%;
  }

  .document-card__name {
    color: $dark;
    font-weight: bold;
    letter-spacing: 0.04em;
    display: inline-block;

    &:hover {
      color: $primary;
    }
  }

  .document-card__file-count {
    color: $gray;
    font-size: 12px;
    margin-bottom: 8px;
  }

  .document-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $gray;

    &:hover {
      color: $primary;
    }
  }

  .document-card__footer-avatars {
    display: flex;
    align-items: center;

    .avatar {
      border: 3px solid white;
      box-sizing: content-box;
    }

    .avatar + .avatar {
      margin-left: -10px;
    }
  }
}