.dropdown {
  position: absolute;
  background: white;
  box-shadow: 2px 2px 50px rgba(148, 161, 187, 0.5);
  border-radius: 16px;
  padding: 16px 24px;
  z-index: 1;
  transition: transform .15s ease-in, opacity .15s ease-in;
  transform: translateY(20px);
  pointer-events: none;
  opacity: 0;

  .dropdown__close {
    color: $secondary;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 16px;

    &:hover {
      color: $danger;
    }
  }

  &.dropdown_show {
    z-index: 2;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}

[data-dropdown-angle] {
  transform: rotate(0);
  transition: transform .1s ease-in;
  display: inline-block;
}

[data-dropdown-state="show"] {
  [data-dropdown-angle] {
    transform: rotate(180deg);
  }
}

.dropdown_sort {
  width: 235px;
  right: 0;
}