.file-badge {
  background: #F2C94C;
  border-radius: 20px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 40px;
  height: 24px;
  color: white;
  text-transform: uppercase;

  &.file-badge_blue {
    background: $primary;
  }

  &.file-badge_pink {
    background: #BB6BD9;
  }

  &.file-badge_red {
    background: $danger;
  }

  &.file-badge_green {
    background: $success;
  }

  &.file-badge_file-card {
    border-radius: 0 0 8px 8px;
  }
}