.file-card {
  background: white;
  border-radius: 16px;
  padding: 30px 16px 24px;
  position: relative;
  font-size: 8px;
  line-height: 14px;
}

.file-card__doc {
  text-transform: uppercase;
  position: absolute;
  color: $success;
  top: 8px;
  left: 16px;
  font-weight: bold;
}

.file-card__badge {
  position: absolute;
  top: 0;
  right: 16px;
}

.file-card__title {
  font-weight: 900;
  text-align: center;
}

.file-card__sub-title {
  text-align: center;
  margin-bottom: 8px;
}

.file-card__description {
  line-height: 14px;
  margin-bottom: 12px;
}

.file-card__bottom-title-wrap {
  display: flex;
  justify-content: space-between;
}

.file-card__bottom-title {
  font-weight: bold;
  font-size: 14px;
}

.file-card__company {
  font-size: 12px;
}

.file-card__meta {
  color: $gray;
  font-size: 12px;
}

.file-card__nav-btn {
  margin-right: -13px;
}