.files-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 6px;

  @include media-breakpoint-down(sm) {
    border-spacing: 0 12px;

    td {
      float: left;
    }

    .files-table__count {
      clear: both;
    }
  }

  .files-table__type {
    width: 50px;
  }

  .files-table__name {
    width: auto;

    @include media-breakpoint-down(sm) {
      width: 100%;
      font-weight: bold;
    }
  }

  .files-table__date, .files-table__size, .files-table__count {
    width: 100px;

    @include media-breakpoint-down(sm) {
      width: 33%;
    }
  }

  .files-table__action {
    white-space: nowrap;
    width: 1px;

    @include media-breakpoint-down(sm) {
      width: 50%;
    }
  }
}