.message {
  position: relative;
  padding: 4px 2px;
  width: 360px;
  max-width: 100%;

  &.message_auto {
    width: fit-content;
    max-width: 100%;
  }

  &.message_full {
    width: auto;
    max-width: 100%;
  }

  &:before {
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    left: 2px;
    top: 2px;
    background: #BCC2CF;
    border-radius: 50%;
    z-index: 0;
  }

  .message__img {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    z-index: 1;
  }

  .message__body {
    background: #FFFFFF;
    border: 0.5px solid #94A1BB;
    box-sizing: border-box;
    box-shadow: 2px 2px 0 #BCC2CF;
    border-radius: 20px;
    padding: 10px 10px 10px 55px;
    display: flex;
    align-items: center;
    position: relative;
  }
}