.modal {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000000;
  left: 0;
  top: -999999px;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background 0.2s ease-in;
  pointer-events: none;

  &.modal_show {
    top: 0;

    .modal__content {
      transform: scale(1);
      opacity: 1;
    }
  }

  .modal__content {
    background: white;
    transform: scale(0.5);
    opacity: 0;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    pointer-events: auto;
    border-radius: 16px;
    padding: 16px 25px;
    box-shadow: 2px 2px 50px rgba(148, 161, 187, 0.5);
    min-height: 100px;
    min-width: 200px;
    max-width: calc(100% - 30px);
  }

  .modal__title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  .modal__close {
    color: $secondary;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 16px;
    right: 25px;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 24px;

    &:hover {
      color: $danger;
    }
  }
}