.page-nav {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.page-nav__title {
  font-weight: bold;
  margin-right: auto;
}

.page-nav__title {
  font-weight: bold;
}

.page-nav__control {
  color: $gray;
  position: relative;
}

.page-nav__control + .page-nav__control {
  margin-left: 15px;
}

.page-nav__control-label {
  @include media-breakpoint-down(md) {
    display: none;
  }
}