.profile-dropdown {
  width: 280px;

  .profile-dropdown__company-list {
    @include list-unstyled;
    margin: 16px 0;

    li + li {
      margin-top: 8px;
    }
  }

  .profile-dropdown__company {
    display: flex;
    color: $dark;
    align-items: center;

    &:hover {
      color: $primary;
    }
  }

  .profile-dropdown__company-avatar {
    margin-right: 16px;
  }

  .profile-dropdown__footer {
    text-align: center;
  }


}