.products-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 6px;
  font-size: 12px;
  color: $gray;

  .products-table__avatar {
    width: 32px;
  }

  .products-table__supplier {
    width: 150px;
  }

  .products-table__action {
    width: 1px;
  }

  .products-table__delete {
    color: $secondary;
    font-size: 20px;
    width: 30px;
    text-align: right;

    &:hover {
      color: $danger;
    }

    i {
      margin-right: -11px;
      margin-left: 11px;
    }
  }
}