.product-card {
  display: flex;
  padding: 16px;

  .product-card__avatar {
    margin-right: 16px;
  }

  .product-card__name {
    color: $dark;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    display: inline-block;

    &:hover {
      color: $primary;
    }
  }

  .product-card__description {
    color: $gray;
    font-size: 12px;
  }
}