.profile {
  position: relative;

  .profile__body {
    display: flex;
    align-items: center;

    &:hover {
      color: $primary;
    }
  }

  .profile__avatar {
    margin-right: 15px;
  }

  .profile__name {
    font-weight: bold;
    letter-spacing: 0.04em;
  }


  .profile__dropdown {
    right: 0;
    top: 80px;
  }
}