.qr-code-modal {
  .modal__content {
    width: 360px;
  }
}

.qr-code-modal__body {
  text-align: center;
}

.qr-code-modal__img {
  width: 195px;
  height: 195px;
}

.qr-code-modal__btn {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto auto 24px;
}

.qr-code-modal__tip {
  width: 230px;
  margin: auto;
}
