.rating {
  display: flex;
  align-items: center;

  .rating__stars {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3px;
    margin-right: 10px;
    align-self: baseline;

    img {
      width: 16px;
      height: 16px;
    }
  }

  &.rating_36 {
    .rating__stars {
      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  &.rating_14 {
    .rating__stars {
      img {
        width: 14px;
        height: 14px;
      }
    }
  }

  .rating__value {
    color: $primary;
    font-size: 12px;
  }
}