.rated-card {
  display: flex;

  .rated-card__avatar {
    margin-right: 16px;
  }

  .rated-card__body {
    .rated-card__title {
      font-weight: bold;
    }

    .rated-card__sub-title {
      font-size: 10px;
      color: $gray;
      margin-bottom: 8px;
    }
  }
}