.share-modal {
  .modal__content {
    width: 400px;
  }

  .share-modal__products-label-wrap {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
  }

  .avatar {
    margin-right: 7px;
  }

  .share-modal__btn {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 16px;
    font-size: 18px;
  }
}