.sort-toggle {
  .sort-toggle__icon {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .sort-toggle__label {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}