.supplier-card {
  display: flex;
  padding: 16px 32px 16px 16px;

  .supplier-card__avatar {
    margin-right: 16px;
  }

  .supplier-card__name {
    color: #434A56;
    font-weight: bold;
    letter-spacing: 0.04em;

    &:hover {
      color: $primary;
    }
  }

  .supplier-card__address {
    color: $gray;
    font-size: 12px;
    margin-bottom: 6px;
  }

  .supplier-card__btn {
    color: $secondary;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 20px;

    &:hover {
      opacity: 0.6;
    }
  }
}