.uil.uil-triple-ellipsis:before {
  content: '\e99b\e99b\e99b';
  font-family: unicons;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.7em;
  text-indent: -0.7em;
}

.uil_slim {
  margin: 0 -0.2em;
}