@mixin styled-scroll {
  &::-webkit-scrollbar {
    width: 14px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 10px;
    border: 3px solid #F2F4F7;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
  }

  &::-webkit-scrollbar-button:vertical {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px auto;
  }

  &::-webkit-scrollbar-button:vertical:increment {
    background-image: url(/images/icons/scroll-down.svg);
  }

  &::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(/images/icons/scroll-up.svg);
  }
}

@mixin scroll-sidebar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
  }
}

@mixin scroll-textarea {
  &::-webkit-scrollbar {
    width: 28px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 10px;
    border: 8px solid #F2F4F7;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
  }

  &::-webkit-scrollbar-button:vertical {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px auto;
  }

  &::-webkit-scrollbar-button:vertical:increment {
    background-image: url(/images/icons/scroll-down.svg);
  }

  &::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(/images/icons/scroll-up.svg);
  }
}
