.bar {
  background: white;
  height: 80px;
  display: flex;
  padding: 16px 24px;
  flex-shrink: 0;
  position: relative;
  z-index: 2;

  .bar__search {
    width: 350px;

    @include media-breakpoint-down(md) {
      width: 100%;
      z-index: 1;
      pointer-events: none;

      input {
        width: 250px;
        transition: width .1s ease-in;
        pointer-events: auto;

        &:focus, &:hover {
          width: 100%;
        }
      }
    }


    @include media-breakpoint-down(sm) {
      input {
        width: 50px;
        padding-right: 0;

        + label {
          display: none;
        }

        &:focus, &:hover {
          & + label {
            display: inline-block;
          }
        }
      }
    }
  }

  .bar__profile {
    margin-left: auto;

    @include media-breakpoint-down(md) {
      position: absolute;
      right: 24px;
    }
  }
}