.content {
  background: #F2F4F7;
  height: 100%;
  overflow: auto;
  padding: 16px 24px;
  position: relative;

  @include styled-scroll;
}


.content:after {
  content: "";
  position: fixed;
  transition: background .15s ease-in;
  background: transparent;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.content_dropdown-show:after {
  background: rgba(148, 161, 187, 0.4);
  pointer-events: auto;
}

.content__float-buttons {
  position: fixed;
  display: grid;
  right: 32px;
  bottom: 24px;
}

.content__header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}

.content__header_mt-16 {
  margin-top: 16px;
}