.sidebar {
  background: $primary-gradient;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;

  @include scroll-sidebar;
}

.sidebar__body {
  width: 250px;
  transition: width .1s ease-in;
  transform: translate3d(0, 0, 0);
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 35px;
}

.sidebar__logo {
  margin-left: auto;
  margin-right: -28px;
  transition: transform .2s ease-in;
}

.sidebar__ellipsis {
  margin-left: auto;
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 10px;
  transition: transform cubic-bezier(0.87, -0.71, 0.35, 2.06) 0.5s;

  &:hover {
    opacity: 0.6;
  }
}

.sidebar_collapsed {
  .sidebar__ellipsis {
    transform: rotate(90deg);
  }
}

.sidebar__section-title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  font-weight: bold;
  padding-left: 24px;
  color: white;
  transition: all .2s ease-in;
}

.sidebar__section-title_mt {
  margin-top: 16px;
}

.sidebar__item {
  padding: 15px 24px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.04em;
  display: flex;
  white-space: nowrap;

  &:hover {
    opacity: 0.6;
    color: white;
  }

  &.sidebar__item_active {
    background: rgba(white, .25);
  }
}

.sidebar__item-img {
  margin-right: 10px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.sidebar__copyright {
  margin-top: auto;
  padding: 17px 23px;
  color: white;
  line-height: 24px;
}

//collapsed desktop sidebar
@include media-breakpoint-up(lg) {
  .sidebar_collapsed {
    overflow-x: hidden;

    .sidebar__body {
      width: 65px;
    }

    .sidebar__logo {
      transform: translateX(-100px);
      margin-left: -55px;
    }

    .sidebar__ellipsis {
      margin: 0;
    }

    .sidebar__header {
      margin-bottom: 18px;
    }

    .sidebar__section-title {
      transform: scaleY(0);
      height: 0;
      margin: 0;
    }

    .sidebar__item {
      height: 50px;
    }

    .sidebar__item-img {
      margin-right: 25px;
    }

    .sidebar__copyright {
      display: none;
    }
  }
}

@include media-breakpoint-down(md) {
  .sidebar {
    overflow-y: auto;
    overflow: initial;
  }

  .sidebar + * {
    padding-top: 50px;
  }

  .sidebar__header {
    position: fixed;
    width: 100%;
    height: 50px;
    background: $primary-gradient;
    z-index: 10;
    padding: 0;
    margin: 0;
  }


  .sidebar__body {
    position: fixed;
    transition: transform .1s ease-in;
    background: $primary;
    padding-top: 20px;
    z-index: 9;
    height: calc(100% - 50px);
    top: 50px;
    overflow-y: auto;
    transform: translateX(-100%);

    @include styled-scroll;
  }

  .sidebar_collapsed {
    .sidebar__body {
      transform: translateX(0);
    }
  }
}