.data-sharing-layout {
  column-count: 4;

  @include media-breakpoint-down(lg) {
    column-count: 2;
  }

  @include media-breakpoint-down(sm) {
    column-count: 1;
  }

  .data-sharing-card {
    margin-bottom: 24px;
    float: left;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 100%;
  }

  &.alt-layout {
    grid-template-columns: 1fr;
    column-count: 1;
  }
}