.p-auth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  grid-template-rows: 100%;

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }
}

.p-auth__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.p-auth__left {
  position: relative;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.p-auth__right {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.p-auth__swiper-container {
  height: 100%;
  width: 100%;

  .swiper-slide {
    display: flex;
    overflow-y: auto;
  }
}

.p-auth__pagination {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: rgba(white, 0.55);
  }

  .swiper-pagination-bullet-active {
    background: white;
  }
}

.p-auth__slide-content {
  margin: auto;
}

@import "sign-in";
@import "sign-up";
@import "sign-up-complete";
@import "reset-password";
@import "reset-password-complete";