.reset-password {
  width: 380px;
  text-align: center;
  max-width: 100%;
  padding: 15px;
}

.reset-password__header {
  text-align: center;
  margin-bottom: 24px;
}

.reset-password__title {
  color: $primary;
  margin-bottom: 0;
}

.reset-password__inputs {
  margin-bottom: 32px;
}