.sign-up {
  width: 380px;
  text-align: center;
  max-width: 100%;
  padding: 15px;
}

.sign-up__header {
  text-align: center;
  margin-bottom: 24px;
}

.sign-up__title {
  color: $primary;
  margin-bottom: 0;
}

.sign-up__inputs {
  margin-bottom: 32px;
}

.sign-up__password-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.sign-up__tabs {
  margin-bottom: 40px;
}

#sign-up-company-form, #sign-up-laboratory-form {
  display: none;

  &.show {
    display: block;
  }
}