.sign-up-complete {
  width: 366px;
  text-align: center;
  max-width: 100%;
  padding: 15px;
  text-align: center;
}

.sign-up-complete__title {
  margin-bottom: 24px;
  color: $primary;
}

.sign-up-complete__body {
  margin-bottom: 32px;
}
