.sign-in {
  width: 380px;
  text-align: center;
  max-width: 100%;
  padding: 15px;
}

.sign-in__logo {
  margin-bottom: 32px;
}

.sign-in__inputs {
  margin-bottom: 32px;
}

.sign-in__helpers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in__sign-up-tip {
  color: $gray;
}